@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-geist: "Geist", sans-serif;
  --font-moonphases: var(--font-moonphases);
  --font-mono: "JetBrains Mono", monospace;
  --color-blue: #0005ff;
  --color-gray: #4b4b4b;
  --color-gray-light: #cbcbcb;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

.shiki {
  @apply px-4;
  @apply overflow-x-scroll;
  @apply text-sm;
  @apply font-mono;
}
