@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "MoonPhases";
  src: url("/fonts/MoonPhases-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-geist: "Geist", sans-serif;
  --font-moonphases: "MoonPhases", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-blue: #0005ff;
}
